Airlock {{ template "chart.header" . }}

{{ template "chart.description" . }}

:warning: **For internal testing purposes only.**

## Adding the Repository

To add the chart repository:

```console
helm repo add airlock-testing https://libuweber.github.io/microgateway-testing/
```

## Installing the Chart

To install the chart with the release name `airlock-testing`:

```console
helm upgrade -i airlock-testing airlock-testing/microgateway-testing
```

## Uninstalling the Chart

To uninstall the chart with the release name `airlock-testing`:

```console
helm uninstall airlock-testing
```

## Configuration

{{ template "chart.valuesTable" . }}

### Testservlet

The documentation of the Testservlet can be found under the following link: [Testservlet](https://github.com/libuweber/microgateway-testing/tree/master/charts/microgateway-testing/charts/testservlet)

## Chart dependencies
The helm chart has optional dependencies which can be activated.

{{ template "chart.requirementsTable" . }}